@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap');

* {
    transition: all 0.2s ease !important;

}

iframe {
    margin-top: 60px;
}

/*Определяем пользовательские CSS переменные в корневом селекторе :root*/
:root {

    /* Устанавливаем пользовательские CSS переменные */
    --blackpure: #000;
    /* Чисто черный цвет */
    --black: #171718;
    /* Цвет "черного" */
    --black-border: #26292D;
    /* Цвет грани "черного" */
    --white: #fff;
    /* Белый цвет */
    --grey: #dddddd;
    /* Серый цвет */
    --purple: #6D39DE;
    /* Фиолетовый цвет */
    --aqua: aquamarine;
    --yellow: #FFD86A;
    /* Жёлтый цвет */
    --red: #EB4C42;
    /* Красный цвет */
    --grun: #50C878;
    /* Зелёный цвет */

    --text-color: var(--black);
    /* Устанавливаем цвет текста черным */

    --dark-bg: var(--black);
    /* Фон в темном режиме - черный */
    --dark-border: var(--black-border);
    /* Цвет рамки в темном режиме */
    --header-text: var(--white);
    /* Цвет текста заголовка белый */
    --accent: var(--aqua);
    /* Цвет акцента фиолетовый */
    --page-bg: #141414;
    --text-color: var(--white);
    --header-bg: var(--dark-bg);
    --title-1: var(--aqua);
    --header-title: var(--white);
    --project-card-bg: var(--black);
    --project-card-text: var(--white);
    --box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.8);
}

html,
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    font-family: 'Exo 2', sans-serif;
    letter-spacing: -0.5px;

    /* Light mode */
    background-color: var(--page-bg);
    color: var(--text-color);
}

main,
header,
footer {
    overflow: hidden !important;
}

/* General */

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
}

.container-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.none {
    display: none !important;
}

.section {
    padding: 70px 0;
}
.section1 {
    padding: 70px 0;
    background-color: var(--header-bg);
    background-image: url('./../img/bg.png');
    background-size: auto;
    background-position: center center;
    margin-bottom: 0;
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}
.title-1 {
    margin-bottom: 60px;

    font-size: 60px;
    font-weight: 700;
    line-height: 1.3;
    color: var(--title-1);
    text-align: center;
}

.title-2 {
    margin-bottom: 20px;

    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
}

/* Nav */

.nav {
    padding: 20px 0;
    border-bottom: 1px solid var(--dark-border);
    background-color: var(--dark-bg);
    color: var(--header-text);
    letter-spacing: normal;
}

.nav-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 30px;
    row-gap: 20px;
    flex-wrap: wrap;
}
.nav-list {
    z-index: 9999;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    align-items: center;
    column-gap: 40px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Exo 2', sans-serif;
}

.nav-list__link {
    color: var(--header-text);
    transition: opacity 0.2s ease-in;
}

.nav-list__link:hover {
    opacity: 0.8;
}

.nav-list__link--active {
    position: relative;
}

.nav-list__link--active::before {
    content: "";

    position: absolute;
    left: 0;
    top: 100%;

    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--accent);
}

/* Header */

.header {
    padding: 40px 0;
    min-height: 695px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--header-bg);
    background-image: url('./../img/bg.png');
    background-size: auto;
    background-position: center center;

    color: var(--header-text);
    text-align: center;
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}


.header__wrapper {
    padding: 0 15px;
    max-width: 900px;
}

.header__title {
    color: var(--header-title);
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
}

.header__title strong {
    font-size: 60px;
    font-weight: 700;
}

.header__title em {
    font-style: normal;
    color: var(--accent);
}

.header__text {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 1.333;
    color: var(--text-color);
}

.header__text p + p {
    margin-top: 0.5em;
}

.menu-switcher {
    position: relative;
    z-index: 99999999;
    display: none;
    flex-direction: column;
    transition: gap 0.4s ease-in-out;
    gap: 8px;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

.menu-switcher__line {
    position: relative;
    transition: all 0.4s ease-in-out;
    width: 3.5rem;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.menu-switcher__line:focus {
    outline: none !important;
}

.menu-switcher__line:nth-child(1) {
    top: 0;
}

.menu-switcher__line:nth-child(3) {
    bottom: 0;
}

.menu-switcher_opened .menu-switcher__line:nth-child(1) {
    transform: rotate(45deg);
    top: 15px;
}

.menu-switcher_opened .menu-switcher__line:nth-child(2) {
    transform: rotate(-45deg);
}

.menu-switcher_opened .menu-switcher__line:nth-child(3) {
    bottom: 15px;
    transform: rotate(45deg);
}

.header__navigation_opened {
    left: 0 !important;
}

@media (max-width: 71.25em) {
    .menu-switcher {
        display: flex;
    }
}

/* Btn */

.btn {
    display: inline-block;
    height: 48px;
    padding: 12px 28px;

    border-radius: 5px;
    background-color: var(--accent);
    color: var(--black);
    letter-spacing: 0.15px;
    font-size: 16px;
    font-weight: 500;

    transition: opacity 0.2s ease-in;
}

.btn:hover {
    opacity: 0.8;
}

.btn:active {
    position: relative;
    top: 1px;
}

/* Btn outline */

.btn-outline {
    display: flex;
    column-gap: 10px;
    align-items: center;

    height: 48px;
    padding: 40px 60px;

    border-radius: 5px;
    border: none;
    background-color: var(--white);
    color: var(--blackpure);

    transition: opacity 0.2s ease-in;
}

.YandexColor {
    background-color: var(--yellow);
}

.KongregateColor {
    color: var(--white);
    background-color: var(--red);
}

.MineCraftColor {
    background-color: var(--grun);
}

.btn-outline:hover {
    opacity: 0.8;
}

.btn-outline:active {
    position: relative;
    top: 1px;
}

/*stat*/

.stat {
    color: #000;
    padding: 30px 0;
    margin-top: 50px;
    background-color: var(--header-bg);
    background-image: url('./../img/bg.png');
    background-size: auto;
    background-position: center center;
    border: 2px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}


.stat-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.stat-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 150px;
}

.stat-title {
    font-weight: 700;
    font-size: 32px;
    color: var(--aqua);
}

.stat-descr {
    color: var(--white);
    font-size: 20px;
    text-align: center;
}

/* Projects  */

.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
}

.project {
    max-width: 370px;
    background-color: transparent;
}

.project p {
    padding: 10px 15px;
    line-height: 150%;
    text-align: justify;
    font-size: 18px;
}

.project__img {
    border-radius: 10px;
}

.project__title {
    padding: 15px 20px 25px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
    color: var(--project-card-text);
}

/* Project details */

.project-details {
    margin: 0 auto;
    max-width: 865px;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

.project-details__cover {
    max-width: 100%;
    margin-bottom: 40px;

    box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.project-details__desc {
    margin-bottom: 30px;

    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
}

/* Content list */

.content-list {
    margin: 0 auto;
    max-width: 570px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    text-align: center;
}

.content-list a {
    color: var(--accent);
}

.content-list__item {
    font-size: 18px;
    line-height: 1.5;
}

.content-list__item p + p {
    margin-top: 0.5em;
}

/* Footer */

.footer {
    margin-top: auto;
    padding: 30px 0 20px;
    background-color: var(--dark-bg);
    color: var(--header-text);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}
.footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 27px;
}

.social {
    display: flex;
    column-gap: 30px;
    align-items: center;
}

.copyright {
    font-size: 16px;
}

.copyright p + p {
    margin-top: 0.5em;
}

.contacts-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

@media (max-width:1437px) {
    .contacts-content-wrapper {
        flex-direction: column;
    }

    .contacts__feedback-form {
        margin: 30px auto 0;
    }
}


option {
    color: #000;
}

.swiper {
    min-width: 0;
    margin-top: 40px;
}

.review-card {
    gap: 15px;
    padding: 15px 25px;
    border-radius: 15px;;
    display: flex;
    height: 100%;
    flex-direction: column;
    width: 300px;

}

.swiper-button-prev {
    margin-right: 20px;
    color: aquamarine;
}

.swiper-button-next {
    margin-left: 20px;
    color: aquamarine;
}

.review-card-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.rate-wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.review-card-body p {
    text-align: justify;
}

.review-card-header h3 {
    font-size: 24px;
}

.rate-count {
    font-size: 18px;
    font-weight: 400;
}

.rate-img {
    width: 18px;
}

.feedback-form {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 35em) {
    .feedback-form {
        align-items: stretch;
        width: 80%;
    }
}

@media (max-width: 26em) {
    .feedback-form {
        width: 100%;
    }
}

.feedback-form__inputs {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    gap: 1.875em;
}

@media (max-width: 71.25em) {
    .feedback-form__inputs {
        font-size: 1.4rem;
    }
}

.reviews-form {
    flex-direction: row;

}

@media (max-width: 35em) {
    .reviews-form {
        flex-direction: column;
    }
}

@media (max-width: 61.25em) {
    .feedback-form__inputs {
        font-size: 1.3rem;
    }
}

@media (max-width: 46em) {
    .feedback-form__inputs {
        font-size: 1.115rem;
    }
}

@media (max-width: 26em) {
    .feedback-form__inputs {
        font-size: 1rem;
    }
}

.feedback-form__personal-information {
    position: relative;
    display: flex;
    gap: 1.875em;
}

@media (max-width: 35em) {
    .feedback-form__personal-information {
        flex-direction: column;
    }
}

.feedback-form__input {
    width: 50%;
    padding: 0.9375em;
    border-radius: 5px;
    border: 4px solid var(--title-1);
    color: var(--project-card-text);
    font-weight: 500;
    line-height: normal;
}

.feedback-form__input::-moz-placeholder {
    color: var(--project-card-text);
    font-weight: 500;
    line-height: normal;
}

.feedback-form__input::placeholder {
    color: var(--project-card-text);
    font-weight: 500;
    line-height: normal;
}

@media (max-width: 35em) {
    .feedback-form__input {
        width: 100%;
    }
}

.feedback-form__user-message {
    resize: none;
    padding: 0.9375em;
    height: 12.375em;
    border-radius: 5px;
    border: 4px solid var(--title-1);
    color: var(--project-card-text);
    font-weight: 500;
    line-height: normal;
}

.reviews-form .feedback-form__user-message {
    height: 3.583em;
}

.reviews-form .feedback-form__input {
    width: 100%
}

.feedback-form__user-message::-moz-placeholder {
    color: var(--project-card-text);
    font-weight: 500;
    line-height: normal;
}

.feedback-form__user-message::placeholder {
    color: var(--project-card-text);
    font-weight: 500;
    line-height: normal;
}

.feedback-form__submit-button {
    align-self: center;
    color: black;
}

.feedback-form__submit-button {
    margin-top: 2.321428em;
    border-radius: 5px;
    border: 3px solid var(--accent);
    box-shadow: 13px 10px 30px #36351f;
}

.link {
    border-radius: 5px;
    background: var(--accent);
    display: inline-block;
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 150%;
    /* 2.625rem */
    padding: 0.8571em 1.28571em;
    box-shadow: var(--box-shadow);
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.link:active {
    background: #2b2409;
    color: #b9b089;
}

@media (hover: hover) {
    .link:hover {
        background: var(--aqua);
        color: var(--project-card-bg);
    }
}

@media (max-width: 71.25em) {
    .link {
        font-size: 1.25rem;
    }
}

@media (max-width: 25em) {
    .link {
        font-size: 1rem;
    }
}

@media (max-width: 1140px) {
    .nav-list {
        position: fixed;
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        font-size: 24px;
        width: 320px;
        background-color: #171718;
        top: 0;
        bottom: 0;
        left: -320px;
    }

}

@media (max-width: 620px) {

    /* Header  */

    .header {
        min-height: unset;
    }

    .header__title {
        font-size: 30px;
    }

    .header__title strong {
        font-size: 40px;
    }

    /* Nav */

    .nav-row {
        justify-content: space-between;
    }

    .dark-mode-btn {
        order: 0;
    }

    /* General */

    .section {
        padding: 40px 0;
    }

    .title-1 {
        margin-bottom: 30px;
        font-size: 40px;
    }

    .title-2 {
        margin-bottom: 10px;
        font-size: 30px;
    }

    /* Projects */

    .project__title {
        font-size: 22px;
    }

    /* Project page */

    .project-details__desc {
        margin-bottom: 20px;
        font-size: 22px;
    }

    /* Content List */

    .content-list {
        row-gap: 20px;
    }

    .content-list__item {
        font-size: 16px;
    }

    /* Footer */

    .footer {
        padding: 40px 0 30px;
    }

    .footer__wrapper {
        row-gap: 20px;
    }

    /* Social */

    .social {
        column-gap: 20px;
    }

    .social__item {
        width: 28px;
    }

}


.skills {
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.skill {
    width: 100%;
    background-color: aquamarine;
    padding: 20px 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    color: black;
}

.skill__title {
    font-size: 24px;
    font-weight: 600;
    user-select: none;
}

/* Убираем стандартный маркер Chrome */
details summary::-webkit-details-marker {
    display: none;
}

details summary::after {
    color: black;
    content: " ◦";
    position: absolute;
    right: 0;
    transition: all 0.2s ease-in-out;
    transform: scale(1.2);
}

details summary {
    position: relative;
}

details[open] summary::after {
    transform: rotate(45deg) scale(1.2);
}

/* Убираем стандартный маркер Firefox */
details > summary {
    list-style: none;
}

.skill__text {
    margin-top: 30px;
    font-size: 18px;
    text-align: justify;
    color: black;
}

.container__card {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  border: 0px solid;
  padding: 38px;  
  filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  text-align: center;
  height: 100%;
  
}

.wrapper {
  width: 100%;
  height: 100%;
  
}

h1{
  font-family: 'Exo 2', sans-serif;
  color: rgba(255,255,255,0.98);
  text-transform: uppercase;
  font-size: 2.4rem;
}
p {
  color: #fff;
  font-family: 'Exo 2', sans-serif;
  text-align: center;
  font-size: 0.8rem;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.button-wrapper{
  margin-top: 18px;
}



.outline {
  background: transparent;
  color: rgba(0, 212, 255, 0.9);
  border: 1px solid rgba(0, 212, 255, 0.6);
  transition: all .3s ease;
  
}

.outline:hover{
  transform: scale(1.125);
  color: rgba(255, 255, 255, 0.9);
  border-color: rgba(255, 255, 255, 0.9);
  transition: all .3s ease;  
}

.fill {
  background: rgba(0, 212, 255, 0.9);
  color: rgba(255,255,255,0.95);
  filter: drop-shadow(0);
  font-weight: bold;
  transition: all .3s ease; 
}

.fill:hover{
  transform: scale(1.125);  
  border-color: rgba(255, 255, 255, 0.9);
  filter: drop-shadow(0 10px 5px rgba(0,0,0,0.125));
  transition: all .3s ease;    
}
.fimg{
    height: 40px;
    width: 40px;
}
.fimg1{
    height: 40px;
    width: 60px;
}
.img_me{
    height: 400px;
    border-radius: 12px;
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}